body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navigatebar {
    display: flex;
    justify-content: space-between; /* pushing the elements as far apart as possible */
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  .navigatebar ul {
    display: flex;
    list-style: none;
    /* no number, no dot */
    padding: 0;
    margin: 0;
  }
  
  .navigatebar ul li {
    margin-right: 15px;  /* spacing */
  }
  
  .navigatebar ul li:last-child {
    margin-right: 0;
  }
  
  .navigatebar ul li a {
    color: #fff;
    text-decoration: none; /* no underline */
  }